/feature-extraction/imagenet-vgg16.pth
/feature-extraction/venv/
/feature-extraction/autoencoder.egg-info/
features/*
ITQ/hashing/deep_features/cifar-10-batches-py/
.idea
/ITQ/hashing/deep_features/*
cifar-10-batches-py/
spectral-hashing/__pycache__
lsh
/data
/spectral-hashing/frog2.jpg 