/feature-extraction/imagenet-vgg16.pth
/feature-extraction/venv/
/feature-extraction/autoencoder.egg-info/
features/*
cifar-10-batches-py/
spectral-hashing/__pycache__
lsh
.idea
/data
/spectral-hashing/frog2.jpg 
