/feature-extraction/imagenet-vgg16.pth
/feature-extraction/venv/
/feature-extraction/autoencoder.egg-info/

/metrics-framework/sim_matrix
/labelextractor.egg-info
__pycache__

venv

features/*
cifar-10-batches-py/
.idea
